<!--# 원래 이거-->
<!--<h1>{{ question.question_text }}</h1>-->
<!--<ul>-->
<!--    {% for choice in question.choice_set.all %}-->
<!--        <li>{{ choice.choice_text }}</li>-->
<!--    {% endfor %}-->
<!--</ul>-->


<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    <fieldset>
        <legend><h1>{{ question.question_text }}</h1></legend>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
    </fieldset>
    <input type="submit" value="Vote">
    <div style="background: greenyellow; width: 400px; height:350px;">
        <img src="https://www.gong-cha.co.kr/uploads/product/20211105/M2nZzm4s38NPSA6L_20211105.png" width="250" height="250">
        <div>
            <label><input type="checkbox" name="color" value="red"> Red</label>
            <label><input type="checkbox" name="color" value="blue"> Blue</label>
        </div>
    </div>
</form>

<!--
<div class="drink">
    <div class="best_combination">
        <span>dfsfa</span>
        <p>dasdfㄴㅇㅁㄴㅇㄹㅁ<br>sdfa</p>
        <a href="dafa"></a>
        <img src="https://www.gong-cha.co.kr/uploads/product/20211105/M2nZzm4s38NPSA6L_20211105.png"/>
    </div>
    <div class="coffee">
        <label><input type="checkbox" name="color" value="red"> Red</label>
        <label><input type="checkbox" name="color" value="red"> </label>
    </div>
</div>
-->